<html>
    <head>
        <title>Axelerent</title>
        <link rel="stylesheet" href="./styles.css"/>
    </head>
    <body>
        <div class="outer-div">
            <div class="headers-outer">
                <div class="headers">
                    <div class="menubtn">
                        <img src="./assets/menu_list.png">
                    </div>
                    <div class="companylogo">
                        <img src="./assets/COMPANY LOGO.png">
                    </div>    
                    <div class="rightmenus">
                        <div class="menu">About</div>
                        <div class="menu">Services</div>
                        <div class="menu">Solutions</div>
                        <div class="menu">Blog</div> 
                           
                    </div> 
                    <div class="rightbutton">
                            <button >Get in touch</button>
                    </div>               
                </div>
            </div>    
            
            <div class="landing-page-bg">
                <div class="landing-content">
                    <div class="page-text" >
                        <h1>Integer bibendum sit amet acru vel egestas</h1>
                    </div>
                    <div class="box-container">
                        <div class="box">
                            <div class="imgbox"><img   src="assets/staffing-icon-2.png"/></div>
                            <span class="servicename">Service Name</span>
                        </div>
                        <div class="box">
                            <div class="imgbox"><img   src="assets/staffing-icon-2.png"/></div>
                            <span class="servicename">Service Name</span>
                        </div>
                        <div class="box">
                            <div class="imgbox"><img   src="assets/staffing-icon-2.png"/></div>
                            <span class="servicename">Service Name</span>
                        </div>
                    </div>    
                </div>    
            </div>
            <div class="outer-row">
                <div class="inner-row">
                    <div class="left-content">
                        <div class="inner-content">
                            <h2>mauris id bibendum est. proin dapibus sollicitudin iaculis, maecenas condimentum maximus laoreet</h2>
                         
                            im maximus elesmod egestas . fusce tinuse posuere est non elementum. vivamus tinmitux elefilednisle gravida aenean in loem ultrices pellentesque aur=gure eu, mattis est preasnt sed volupat nibh morhi faicibus toetor sed neque vulputate hendriet .
                        </div>    
                    </div>                  
                    <div class="right-content">
                        <img src="./assets/map.png">
                    </div>      
                </div>                    
            </div>    
            <div class="outer-testimonial">
                <div class="inner-testimonials">
                    <div class="client-comments-content">
                        <img src="./assets/o.png">mattis est preasnt sed volupat nibh morhi faicibus toetor sed neque vulputate.
                        <div class="client-comment">
                            <div class="client-avatar">
                                <img src="./assets/avatar.png">
                            </div>
                            <div class="client-name-pos">
                                <div class="client-name">
                                        CLIENT NAME
                                </div>
                                <div class="client-position">
                                    Position, ORG    
                                </div>
                            </div>                                
                        </div>
                    </div>  
                    <div class="client-comments-content">
                        <img src="./assets/o.png">im maximus elesmod egestas toetor sed neque vulputate. fusce tinuse posuere est non elementum. sakjdka  aunh ayuh anout ssed faro saw das case.
                        <div class="client-comment">
                                <div class="client-avatar">
                                    <img src="./assets/avatar.png">
                                </div>
                                <div class="client-name-pos">
                                    <div class="client-name">
                                        CLIENT NAME
                                    </div>
                                    <div class="client-position">
                                            Position, ORG    
                                    </div>
                                </div>                                
                            </div>
                    </div> 
                    <div class="client-comments-content">
                            <img src="./assets/o.png"> fusce tinuse posuere est non elementum faicibus toetor sed neque vulputate. im maximus elesmod egestas. 
                            <div class="client-comment">
                                    <div class="client-avatar">
                                        <img src="./assets/avatar.png">
                                    </div>
                                    <div class="client-name-pos">
                                        <div class="client-name">
                                                CLIENT NAME
                                        </div>
                                        <div class="client-position">
                                                Position, ORG   
                                        </div>
                                    </div>                                
                                </div>
                    </div>   
                </div>                    
            </div>
            <div class="contactus">
                <div class="contactus-inner">
                    <div class="contactus-content">
                        <div class="contactus-content-header">
                                Convinced to work with us?
                            </div>
                            <div class="contactus-content-desc">
                                Company has helped agencies keep their promises to client since 2005.
                            </div>
                            <div class="contactus-form">
                                <form action="">
                                    <div class="user-details">
                                   
                                        <input type="text" placeholder="Fullname" class="inputs" name="name">
                                        <input type="email" placeholder="Email address" class="inputs" name="mail">
                                        <input type="tel" placeholder="Phone number" class="inputs" name="phone">
                                        
                                    </div>
                                    <div class="messagebox">
                                            <textarea    class="messageb" placeholder="Message in brief"></textarea>
                                    </div>
                                
                                </form>
                                <button>Submit</button>
                            </div>
                    </div>
                    
                </div>
            </div> 
            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-left"> &copy; 2017  Company. All right reserved.</div>
                    <div class="footer-right">
                         Follow us on &nbsp;: &nbsp;
                         <img src="./assets/facebook.png"> &nbsp;
                         <img src="./assets/link.png"> &nbsp;
                         <img src="./assets/tweet.png"> &nbsp;
                         <img src="./assets/message.png"> &nbsp;
                    </div>
                </div>
            </div>
        </div>    
    
    </body>    
    <script>console.log('Hello new World!')</script>
</html>

